body {
    background-color: #c7efe5;
    font-family: Calibri, sans-serif;
}

h1 {
    color: midnightblue;
    margin-left: 5%;
}

p {
    margin-left: 10%;
}

button {
    -webkit-appearance: button-bevel;
}

#content {
    background-color: lightslategray;
    color: azure;
    width: max-content;
}

th {
    background-color: darkgreen;
}

tr {
    background-color: darkslategrey;
}